

<ion-header>
  <ion-toolbar>
    <ion-col><ion-button (click)="back()">BACK</ion-button></ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <h1 class="title">TEAM 1 {{this.username}} RESULT</h1>
  
  <div class="content2">
  <ion-row style="outline-color:white" >
      <ion-col><ion-label>DI TEAM 2 </ion-label></ion-col>
      <ion-col><ion-label>{{dit2}}</ion-label></ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col><ion-label>LOOT CAP</ion-label></ion-col>
    <ion-col><ion-label>{{lootcap1}}</ion-label></ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col><ion-label>LOSSES T2:</ion-label></ion-col>
  </ion-row>
  
  
  <ion-row>
    <ion-col><ion-label>ASAULT</ion-label></ion-col>
    <ion-col><ion-label>{{asault_etiqueta1_t1}}</ion-label></ion-col>
    <ion-col><ion-label>{{asault_etiqueta2_t1}}</ion-label></ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col><ion-label>ENGIENEER</ion-label></ion-col>
    <ion-col><ion-label>{{engieneer_etiqueta1_t1}}</ion-label></ion-col>
    <ion-col><ion-label>{{engieneer_etiqueta2_t1}}</ion-label></ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col><ion-label>TANK</ion-label></ion-col>
    <ion-col><ion-label>{{tank_etiqueta1_t1}}</ion-label></ion-col>
    <ion-col><ion-label>{{tank_etiqueta2_t1}}</ion-label></ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col><ion-label>BUNKER</ion-label></ion-col>
    <ion-col><ion-label>{{bunker_etiqueta1_t1}}</ion-label></ion-col>
    <ion-col><ion-label>{{bunker_etiqueta2_t1}}</ion-label></ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col><ion-label>LOOT:</ion-label></ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col><ion-label>MONEY</ion-label></ion-col>
    <ion-col><ion-label>{{money_team1}}</ion-label></ion-col>
  </ion-row>
  
  
  <ion-row>
    <ion-col><ion-label>OIL</ion-label></ion-col>
    <ion-col><ion-label>{{oil_team1}}</ion-label></ion-col>
  </ion-row>
  
  </div>
  
  
  <div class="content5">
  
    <h1 class="title2">TEAM 2 {{this.enemy}} RESULT</h1>
    
  <ion-row style="outline-color:white" >
      <ion-col><ion-label>AI TEAM 1  </ion-label></ion-col>
      <ion-col><ion-label>{{ait1}}</ion-label></ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col><ion-label>LOSSES TEAM 1:</ion-label></ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col><ion-label>ASAULT</ion-label></ion-col>
    <ion-col><ion-label>{{asault_etiqueta1_t2}}</ion-label></ion-col>
    <ion-col><ion-label>{{asault_etiqueta2_t2}}</ion-label></ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col><ion-label>ENGIENEER</ion-label></ion-col>
    <ion-col><ion-label>{{engieneer_etiqueta1_t2}}</ion-label></ion-col>
    <ion-col><ion-label>{{engieneer_etiqueta2_t2}}</ion-label></ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col><ion-label>TANK</ion-label></ion-col>
    <ion-col><ion-label>{{tank_etiqueta1_t2}}</ion-label></ion-col>
    <ion-col><ion-label>{{tank_etiqueta2_t2}}</ion-label></ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col><ion-label>BUNKER</ion-label></ion-col>
    <ion-col><ion-label>{{bunker_etiqueta1_t2}}</ion-label></ion-col>
    <ion-col><ion-label>{{bunker_etiqueta2_t2}}</ion-label></ion-col>
  </ion-row>
  
  </div>
  
  </ion-content>