.my-custom-menu {
    --width: 500px;
  }

  .title{

    text-align: center;
    margin-top: 2%;
    color: white;
}


.content2{

  text-align: center;
  margin-top: 2%;
  color: white;
}


.title2{

  text-align: center;
  margin-top: 10%;
  color: white;
}


.content3{

  text-align: center;
  margin-top: 2%;
  color: white;
}