<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Web Guerilla
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-container" overflow-scroll="true">

  <h1 class="title">
    Login
  </h1>

  <ion-img class="imgItem" src="../assets/logo.png"></ion-img>

  <div class="content">

    <ion-item>
      <ion-input [(ngModel)]="userData" id="email" placeholder="Email"></ion-input>
    </ion-item>

    <br>
    <br>

    <ion-item style="text-align: center;">
    <ion-col>
      <ion-button (click)="login1()">Login</ion-button>
  
    </ion-col>

    </ion-item>

    <br>
    <br>

  </div>


  <div class="ribbon2">


      
  </div>


</ion-content>


  <ion-tab-bar slot="bottom" id="taps">
    <ion-tab-button tab="home">
      <ion-label>Login</ion-label>
      <ion-icon name="log-in-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="goToRegister()" tab="register">
      <ion-label>Register</ion-label>
      <ion-icon name="document-text-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
